.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.iml
build/
coverage/

android/.gradle/
android/**/build/
android/local.properties
android/key.properties
android/app/*.jks
android/app/*.keystore

ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

macos/Flutter/ephemeral/
windows/flutter/ephemeral/
linux/flutter/ephemeral/
